<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Node Blog | <%=title%> </title>
        <link rel="stylesheet" href="/index.css">
    </head>

    <body>
        <div class="title">
            <h1>About</h1>
        </div>
        

        <%- include("./header.ejs") %>

        <div class="about content">
            <!-- <h2>About</h2> -->
            <h2>Welcome to My First Node Project</h2>
            <br/>
            <p>Through this app, you are able to view current posts, submit new ones, and delete them.</p>
            <span></span>
            <p>Based on what I learned, I wrote a <a href="https://tishfaroul.medium.com/a-guide-to-setting-up-mongodb-with-a-cloud-database-24c9fecaa23">Guide to Setting up a MongoDB Cloud Database</a> </p>
            <p>Check out some more of my projects on my <a href="https://latishafar1.github.io/">portfolio </a> or on my <a href="https://github.com/LatishaFar1">GitHub</a></p>
        </div>
     
    </body>


</html>