<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Node Blog</title>
        <link rel="stylesheet" href="/index.css">
       
    </head>

    <body>
        <h1>404 Error</h1>
        <p>Sorry, that page doesn't exist</p>
    </body>


</html>