
<footer>
    Tish Faroul
    <br/>
    <a href='https://github.com/LatishaFar1'>
        Github
      </a>

      <a href='mailto:lfaroul14@gmail.com'>
        Email
      </a>


      <a href='https://www.linkedin.com/in/latisha-faroul/'>
       linkedin
      </a>


      <a href='https://twitter.com/TishFaroul'>
        twitter
      </a>


      <a href='https://tishfaroul.medium.com/'>
        Medium
      </a>


      <a href='https://www.instagram.com/tish.codes/'>
        Instagram
      </a>

</footer>

