<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Node Blog | <%=title%> </title>
        <link rel="stylesheet" href="/index.css">
    </head>

    <body>

        <% const name = "Tish" %>

        <div class="title">
            <h1>Home Page</h1>
            <p>Welcome to <%= name %> 's blog</p>
            <p>   </p>
        </div>
      
        <nav>
            <a href="/about">About Page</a>
            <a href="/new">Submit a Post</a>
        </nav>


        <div class="blog content">
            <h2>Posts</h2>

            <% if (posts.length > 0 ) { %>
                <% posts.forEach(post => { %>
                    <h3 class="title"> <%= post.title %> </h3>
                    <p class="summary"><%= post.summary %></p>
                <% })%>

            <% } %>
        </div>
    </body>


</html>