*{
    margin: 0;
    /* background-color: #F8DFDD; */
    font-family: 'Work Sans', sans-serif;
}

.nav{
  font-size: 12px;
}

a{
  text-decoration: none;
  color: #DD4045;
}

a:hover{
  color:#ECC4C0;
  font-weight: 500;
}

h1, h2{
   
    color: #DD4045;
}

h1{
  letter-spacing: -10px;
}

body{
    
    padding: 0 20px;
    max-width: 1200px;
    margin: 0;
  }

 nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #DD4045;
    text-transform: uppercase;
    
 }

 /* HOME */

.title, .posts-title{
 grid-area: t;
 text-align: right;
 font-size: 5.4em;
 text-transform: uppercase;
 margin: 0;
 font-family: 'Work Sans', sans-serif;
 background: white;
}
 
.post-container{
    display: flex;
    justify-content: center;
    padding: 80px;
}

.blog-content{
    /* width: 80%; */
	height: 400px;
	/* background: white; */
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  text-align: center;
 
}

.blog-content a{
  display: block;
  margin: 40px;
  padding-left: 30px;
}

/* .post-title, p{
    text-align: justify; 
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    color: #DD4045;
    line-height: 18px;
} */




.blog-content a:hover h3{
  color: black;
  border-left: 5px solid #DD4045;
}

.post-title{
  font-size: 30px;
}
.summary{
    color: black;
    padding: 30px 30px 20px 0;
    font-size: 14px;
    line-height: 22px;
}

 /* ABOUT */



/* 
 NEW POST */

 .create-post form{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background-color: #F8DFDD;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 16px;
  }
 
  .create-post label{
    display: block;
    margin-top: 24px;
    font-weight: 900;
    color:#DD4045;
    padding-bottom: 10px;
  }

  
 .create-post input, textarea{
  background-color: #ECC4C0;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  height: 80px;
  outline: 0;
  padding: 4px 20px 0;
  width: 350px;
 }


  .create-post button{
    background-color: #DD4045;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    justify-content: center;
    width: 100%;
    color: white;
  }
  button:hover{
    background-color: #F8DFDD;
    color: black;
  }


  /* POST DETAILS PAGE */
  .detail-content {
    background: #fff;
    box-shadow: 0 0 10px #F8DFDD;
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 80%;
    margin-bottom: 40px;
  }
  .detail-content:before, .detail-content:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .detail-content:before {
    background: #ECC4C0;
    box-shadow: 0 0 8px #F8DFDD;
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  .detail-content:after {
    background: #F8DFDD;
    box-shadow: 0 0 3px #ECC4C0;
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }

  .delete-button{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin-bottom: 15px;
    background: #DD4045;
    color: white;
    border-radius: 10px;
    font-size: 1.2em;
  }

  .delete-button :hover{
    background-color: #F8DFDD;
    color: black;
  }
  /* FOOTER */
  footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ECC4C0;
    text-align: center;
    padding-top: 50px;
    margin-top: 20px;
    height: 90px;
    position: relative;


    
  }
  footer > a{
    color:  #ECC4C0;
    align-items: center;
  }