*{
    margin: 0;
    /* background-color: #F8DFDD; */
    font-family: 'Work Sans', sans-serif;
}


.nav{
  font-size: 12px;
}

a{
  text-decoration: none;
  color: #DD4045;
}

a:hover{
  color:#ECC4C0;
  font-weight: 500;
}

h1, h2{
   
    color: #DD4045;
}

body{
    
    padding: 0 20px;
    max-width: 1200px;
    margin: 0;
  }

 nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #DD4045;
    text-transform: uppercase;
    
 }

 /* HOME */

.posts-title{
  font-size: 80px;
  text-align: center;
}

.title{
 grid-area: t;
 text-align: right;
 font-size: 5.4em;
 text-transform: uppercase;
 margin: 0;
 font-family: 'Work Sans', sans-serif;
 background: white;
}
 
.post-container{
    display: flex;
    justify-content: center;
    padding: 80px;
}

.blog-content{
    /* width: 80%; */
	height: 400px;
	/* background: white; */
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  text-align: center;
 
}

.blog-content a{
  display: block;
  margin: 40px;
  padding-left: 30px;
}

.post-title, p{
    text-align: justify; 
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    color: #DD4045;
    line-height: 18px;
}

.blog-content a:hover h3{
  color: black;
  border-left: 5px solid #DD4045;
}

.summary{
    color: black;
    padding: 30px 30px 20px 0;
    font-size: 14px;
    line-height: 22px;
}

 /* ABOUT */



/* 
 NEW POST */

 .create-post form{
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
  }
 
  .create-post textarea{
   
    width: 100%;
    margin: 10px 0;
    padding: 8px;
  }
  .create-post label{
    display: block;
    margin-top: 24px;
  }
  textarea{
    height: 120px;
  }
  .create-post button{
    margin-top: 20px;
    background: #DD4045;
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
  }
  button:hover{
    background-color: #F8DFDD;
    color: black;
  }


  /* POST DETAILS PAGE */
  .post-content{
   margin: 50px;
   padding: 20px 20px 20px ;
    width: 80%;
    height: 400px;
    background: white;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
    position: relative;
  }

  .delete-button{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin-bottom: 300px;
    background: #DD4045;
    color: white;
    border-radius: 10px;
    font-size: 1.2em;
  }

  .delete-button :hover{
    background-color: #F8DFDD;
    color: black;
  }
  /* FOOTER */
  footer{
    margin: 200px auto 20px;
    text-align: center;
    color: #ECC4C0;
    padding: 50px;
  }
  footer > a{
    color:  #ECC4C0;
  }